<h1>Picture</h1>

<%= form_for @picture do |f| %>

<p class="field">
	<%= f.label :description %><br/>
	<%= f.text_field :description %>
</p>

<p class="field">
	<%= f.label :url %><br/>
	<%= f.text_field :url %>
</p>
<p>
	<%= f.submit %>
</p>

<% end %>