<h1>Add a Picture</h1>

<%= form_for @picture do |f| %>
<p>
	<%= f.label :description %><br/>
	<%= f.text_field :description %>
</p>
<p>
	<%= f.label :url %><br/>
	<%= f.text_field :url %>
</p>
<p>
	<%= f.submit %>
</p>

<% end %>